*{margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html{ background-color: rgb(248, 223, 156);}

body{
  margin: 0;
  position: relative;
  padding-bottom: 7em;
  background-image: url(../img/fondo.jpg);
}

header {
  height: 100px;
  width: 100%;
  padding: 20px;
  font-size: 50px;
  background-color: goldenrod;
}

header .logo{
  border: double;
  font-size: 34px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(5, 5, 20);
  text-transform: capitalize;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
  
header ul li{ 
  font-size: 20px;
  float: right;
  margin-right: 10;
  list-style: none;
  display: inline;
  padding: 2px 0px 0px 10px; 

}


.tm{
  font-size: 18px;
}

section p{
  height: 300px;
  width: 100%;
  text-align: center;
  border: double; 
  color: black;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

section div {
  height: 150px;
  width: 150px;
  border: 5px solid gainsboro;
  background-color: darkgoldenrod;
}

div.conteiner{
box-sizing: border-box;
color: darkgoldenrod; 
font-size: 14px;
line-height: 20px;
margin-left: 44px;
margin-right: 44px;
padding-left: 15px;
padding-right: 15px;
text-size-adjust: 100%;
width: 1170px;
}


div.cats-row{
box-sizing: border-box;
color: darkgoldenrod;
font-family: 'Times New Roman', Times, serif;
line-height: 20px;
margin-left: -15px;
margin-right: -15px;
margin-top: 31px;
}
 
section{
  width: 100%;

}
.grid-section {
  padding: 80px;
  flex-wrap: wrap;
  display: flex;
}
.redbox{
  padding:10px;
  margin: 10px;
}
.bluebox{
  padding: 10px;
  margin: 10px;
}
.greenbox{
  padding: 10px;
  margin: 10px;
}
.yellowbox{
  padding: 10px;
  margin: 10px;
}

#t1:hover{
  transition: all 2s;
  transform: scale(1.05);
}

#t1 {
  transition: height 2s;
}

.logo2{
  color: darkgoldenrod;
}

footer div{  
  height: 100px;
  width: 100%;
  font-size: 30px;
  display: inline;
  position: absolute;
  background-color: goldenrod;
  text-align: center;
  bottom: 0;
  padding: 1em;
}

a:link{
    color: black;
}

a:visited{color: black;}

a:hover{color: 0 0 0 0 ;}



